@media all and (max-width: 585px) {
    nav {
        display: none;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--secundary);
        position: absolute;
    }

    nav li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        margin-left: 0;
    }

    #burguer {
        display: block;
    }

    .promocao {
        flex-direction: column;
    }
    .promcao button {
        max-width: 400px;
    }
}

@media (max-width: 650px){
    .cardDepoimentos{
        height: 200px;
        max-width: 350px;
    }
}

@media (max-width: 600px) {
    .sobre div {
        flex-direction: column-reverse;
    }
}


@media (max-width: 300px) {
    .contatos p {
        display: none;
    }

    .cardDepoimentos {
        height: 300px;
        max-width: 200px;

    }
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media all and (max-width: 875px){
    .promocao button{
        max-width: 200px;
    }
}

@media all and (max-width: 380px) {

    .close {
        top: -20%;
    }

    .next {
        right: -15px;
    }

    .prev {
        left: -15px;
    }

}